.header {
  display: flex;
  margin: 0 0 20px 0;
  background-color: white;
  padding: 0 5%;
  align-items: center;
  border-bottom: 1px solid #eee;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header h1 {
  color: #0290ff;
}

.header h1,
.header p {
  margin-right: 25px;
}

.fa-user {
  margin-right: 15px;
}
